.config/fish/functions/
.config/fisherman/
.config/fish/config.*
!.config/fish/config.fish
.config/fish/fishd.*
.config/node/cache/
.config/hub
.config/yarn/link/*
.config/yarn/global/*
.config/asciinema/config
.config/gh/
.config/coc/extensions/node_modules/
.config/code-server/
.config/tmux/plugins
.config/iterm2/AppSupport
.config/mozilla/vpn.moz
.DS_Store
.config/github-copilot/hosts.json
.config/aerospace/.webui_secret_key
.config/rclone/rclone.conf
.config/.android/cache
.config/.android
.config/cursor/chats
.config/cursor/cli-config.json
.config/dlv
.config/lazygit
.config/ngrok
.config/swiftpm
.config/uv
.config/sketchybar
.config/avante.nvim/config.json
