[user]
  name = Stefan Penner
  email = stefan.penner@gmail.com
[alias]
  last = log -1 HEAD
  l = log
  c = commit -v
  s = status
  a = add
  d = diff
  co = checkout
  la = "!git config -l | grep alias | cut -c 7-"
  pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
