.config/fish/functions/
.config/fisherman/
.config/fish/config.*
!.config/fish/config.fish
.config/fish/fishd.*
.config/node/cache/
.config/hub
.config/yarn/link/*
.config/yarn/global/*
.config/asciinema/config