[user]
  name = Stefan Penner
  email = stefan.penner@gmail.com
  gpgsign = true
[alias]
  last = log -1 HEAD
  p = push
  l = log
  c = commit -v
  s = status
  a = add
  d = diff
  co = checkout
  cp = cherry-pick
  la = "!git config -l | grep alias | cut -c 7-"
  pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	quick-stats = ! /usr/local/bin/git-quick-stats
[push]
	default = simple
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[diff]
	tool = vimdiff
